<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Cafe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    {% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
    <nav>
        <a href="{{ url_for('alt_homepage') }}">Back to Home</a>
    </nav>

    <h1>Delete Post</h1>
     <div class="form-contents">
        {{ render_form(form, novalidate=True), button_map={"submit": "primary"} }}
        <!-- <button onclick="window.location.href='{{ url_for('delete_cafe') }}';">Delete (Admin Only)</button> -->
        <!-- <button onclick="deleteCafe({{ cafe.id }})">Delete (Admin Only)</button> -->
     </div>

</body>
</html>
